// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  margin:20px;
}



// .site-wrapper{
//   position:relative;
// }

p{
  text-align: center;
}

.wrapper{
  position: relative;
}

.editback{
  text-align: center;
}

.edit{
  margin-left:430px;
}


.wrapper{
  margin:auto 0;
}
