// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//
//

h1{
  text-align: center;
}

// p{
//   margin:80px;
// }

.back-index{
  margin-top:40px;
  margin-left: 460px;
}
